body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'jost' , sans-serif;
    background: linear-gradient(to bottom, rgb(253,136,14), rgb(48,128,194), rgb(45,57,67));
}

/* MAIN */
.main{
    width: 350px;
    height: 500px;
    background: rgb(65,78,88);
    overflow: hidden;
    background: url(../images/images/hero-financial-wellness_muted.jpeg) no-repeat center / cover;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
}


/* CHECK */
#check{
    display: none;
}


/* SIGNUP */
.signup{
    position: relative;
    width: 100%;
    height: 100%;
}

label{
    color: #fff;
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 60px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

input{
    width: 60%;
    height: 20px;
    background: #e0dede;
    display: flex;
    margin: 20px auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
}


button{
    width: 60%;
    height: 40px;
    justify-content: center;
    display: block;
    color: #fff;
    background: rgb(253,136,14);
    font-size: 1em;
    font-weight: bold;
    margin: 20px auto 0 auto;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: 0.2s ease-in;
    cursor: pointer;
}

button:hover{
    background: rgb(45,57,67);
}

/* LOG IN */
.login{
    height: 460px;
    background: rgb(48,128,194);
    border-radius: 60% / 10%;
    transform: translateY(-180px);
    transition: 0.8s ease-in-out;
}

.login label{
    color: rgb(45,57,67);
    transform: scale(0.6);
}

#check:checked ~ .login{
    transform: translateY(-500px);
}

#check:checked ~ .login label{
    transform: scale(1);
}

#check:checked ~ .signup label{
    transform: scale(0.6);
}