/*---------- EXTERNAL FONT ----------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');


*,
*>::before,
*>::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    /* outline: 1px solid red; */
}


/*--------------- CUSTOM VARIABLES ---------------*/
:root {
    --main-color: rgb(253, 136, 14);
    --sub-color: rgb(48, 128, 194);
    --grey: rgb(45, 57, 67);
    --grey-light: rgb(65, 78, 88);
    --white: rgb(241, 244, 246);
    --orange: #EF6A00;
}


/*----------- HEADER NAVIGATION START -----------*/
header {
    width: 100%;
    height: 150px;
    /* padding-block: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    background-color: var(--grey-light);
}

header nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    border-bottom: 1px solid #ffffff3e;
}

header nav #logo img {
    width: 100px;
}

header nav ul {
    display: flex;
    align-items: center;
}

header nav ul li {
    list-style: none;
    padding: 0 15px;
    height: 100%;
    width: fit-content;
}

header nav ul li a {
    text-decoration: none;
    color: var(--white);
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: uppercase;
}

header nav .right-navigation li {
    list-style: none;
    padding: 0 10px;
    height: 100%;
    width: fit-content;
}

header nav .right-navigation li a {
    text-decoration: none;
    color: var(--white);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 2px;
}

header nav .right-navigation li a span {
    font-size: 0.65rem;
}

header nav .right-navigation li a #globe {
    font-size: 1.25rem;
}

header nav .right-navigation li a:hover span {
    text-decoration: underline;
}

header nav .right-navigation li a:hover #globe {
    text-decoration: none;
}


/* <reset-style> ============================ */
button {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    font-family: inherit;
}

/* ============================ */
/* <style for menu__icon> ======== */
.menu__icon {
    width: 42px;
    height: 32px;
    padding: 4px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.menu__icon span {
    width: 100%;
    height: 0.125rem;
    border-radius: 0.125rem;
    background-color: #fff;
    box-shadow: 0 .5px 2px 0 hsla(0, 0%, 0%, .2);
    transition: transform .4s, background-color .4s, opacity .4s;
}

.menu__icon:focus span:nth-child(1) {
    background-color: #fff;
    transform: translateY(11px) rotate(-45deg);
}

.menu__icon:focus span:nth-child(2) {
    opacity: 0;
}

.menu__icon:focus span:nth-child(3) {
    background-color: #fff;
    transform: translateY(-11px) rotate(45deg);
}

.nav-dropdown:focus-within .menu-content {
    transform: translateY(0%);
}

.nav-dropdown:focus-within .menu__icon {
    z-index: 10;
}


.line {
    height: 2px;
    width: 30%;
    background-color: #ffffff52;
}

.menu-content {
    position: absolute;
    inset: 0;
    background-color: var(--grey);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    transform: translateY(-100%);
    transition: 300ms;


    z-index: 10;
}

.menu-content .nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.menu-content .nav ul li {
    width: 100%;
    text-align: center;
    padding: 15px 0;
}

.menu-content .nav ul li a {
    font-size: 1rem;
    padding-inline: 10px;
    width: 100%;
}

.menu-content .links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.menu-content .links ul li {
    width: 100%;
    text-align: center;
    padding: 15px 0;
}

.menu-content .links ul li a {
    font-size: 0.75rem;
    padding-inline: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}




/*--------- LOGIN & SIGN UP ---------*/
.login-signup {
    position: relative;
    right: 50px;
    width: fit-content;
    display: flex;
    background-color: var(--grey-light);
}

.login-signup a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    padding: 20px;
    color: var(--white);
    text-decoration: none;
    transition: 400ms;
}

.login-signup a:hover {
    background-color: rgb(45, 57, 67, 0.7);
}


/*---------- HERO -----------*/
.hero {
    width: 100%;
    height: 80vh;
    background-image: url(../images/images/cs_personal_vw-split-wall_cover.jpg);
    background-position: center;
    background-size: cover;
}

.hero .wrapper {
    position: relative;
    background-color: #ffffff12;
    width: 650px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 45px 180px;
    border-radius: 10px;
    box-shadow: 5px 5px 55px #00000054;
    transform: translate(15%, 15%);
}

.hero .wrapper:before {
    content: '';
    position: absolute;
    inset: 0;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    z-index: -1;
}

.hero .wrapper h1 {
    font-size: 2.75rem;
    color: var(--white);
    text-shadow: 0px 0px 10px #0000009f;
}

.hero .wrapper p {
    color: var(--white);
    font-weight: 500;
    letter-spacing: 0.05rem;
}

.hero .wrapper .btn {
    position: relative;
    /* background-color: #0069aa; */
    border: 2px solid var(--white);
    padding: 15px 25px;
    color: var(--white);
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 500;
    /* border-radius: 5px; */
    transition:
        color 500ms;
    overflow: hidden;
}

.hero .wrapper .btn::before {
    content: '';
    position: absolute;
    inset: -2px;
    width: 150%;
    background-color: var(--white);
    transform: skew(50deg);
    translate: -105%;
    z-index: -1;
    transition: translate 300ms ease-out;
}

.hero .wrapper .btn:hover {
    color: var(--orange);
    box-shadow: 0px 0px 10px #0000007d;
}

.hero .wrapper .btn:hover::before {
    translate: -30%;
}


/* -------- PRODUCTS AND SERVICES --------- */
.products-and-services {
    width: 100%;
    height: fit-content;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding-block: 25px;
}

.products-and-services h1 {
    position: relative;
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--grey);
    padding-block: 15px;
}

.products-and-services h1::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    margin: 0 auto;
    height: 3px;
    background-color: var(--orange);
}

.products-and-services h3 {
    font-size: 1.75rem;
    font-weight: 300;
    color: var(--grey);
}

.service-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-evenly;
    padding-top: 20px;
}

.service-list .service {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

.service-list .service a {
    display: flex;
    align-items: center;
    gap: 2.5px;
    color: #004C97;
    text-decoration: none;
}



/*---------------- FNANCIAL WELLNESS ----------------*/
.financial-wellness {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/images/hero-financial-wellness_muted.jpeg);
    padding-block: 50px 70px;
}

.financial-wellness div {
    position: relative;
    background-color: #ffffff50;
    box-shadow: 0px 0px 30px #0000007d;
    padding: 50px;
    width: 60%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    z-index: 1;
}

.financial-wellness div::before {
    content: '';
    position: absolute;
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    inset: 0;
    border-radius: 10px;
    z-index: -1;
}

.financial-wellness h1 {
    position: relative;
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--grey);
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.financial-wellness h1::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    margin: 0 auto;
    height: 3px;
    background-color: var(--orange);
}

.financial-wellness p {
    font-size: 1.75rem;
    font-weight: 300;
    color: var(--grey);
    text-align: center;
}

.financial-wellness a {
    display: flex;
    align-items: center;
    gap: 2.5px;
    color: #004C97;
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 500;
}

.financial-wellness a:hover span:first-child {
    text-decoration: underline;
}



/*----------- INSIGHTS -----------*/
.insight {
    height: fit-content;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 50px;
    gap: 20px;
}

.insight h1 {
    position: relative;
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--grey);
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.insight h1::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 95%;
    margin: 0 auto;
    height: 3px;
    background-color: var(--orange);
}

.insight p {
    font-size: 1.75rem;
    font-weight: 300;
    color: var(--grey);
    text-align: center;
    margin-bottom: 35px;
}

.card-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: fit-content;
    width: 100%;
    text-decoration: none;
    padding: 0 20px;
    color: inherit;
    border-radius: 10px;
}

.card-img {
    overflow: hidden;
    border-radius: 10px;
}

.card-img img {
    width: 100%;
    transition: 400ms;
}

.card:hover .card-img img {
    scale: 1.1;
}

.card h2 {
    color: #084D77;
    font-size: 1.5rem;
    text-decoration: underline;
    margin-block: 10px 15px;
}

.card span {
    margin-bottom: 10px;
    line-height: 1.5rem;
    letter-spacing: .05rem;
}

.card i {
    font-size: 0.75rem;
    font-weight: 600;
}

.insight .view-more {
    text-align: start;
    width: fit-content;
    color: #084D77;
    margin-top: 35px;
}




/*---------- MOBILE APP ----------*/
/* ============================== */
.mobile-apps {
    width: 100%;
    height: fit-content;
    background-color: #415A76;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mobile-apps h1 {
    position: relative;
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--white);
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.mobile-apps h1::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 70%;
    margin: 0 auto;
    height: 3px;
    background-color: var(--orange);
}

.mobile-apps p {
    font-size: 1.75rem;
    font-weight: 300;
    color: var(--white);
    text-align: center;
    margin-bottom: 35px;
}

.mobile-apps .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
    gap: 50px;
}

.mobile-apps .wrapper img {
    width: 30%;
}

.mobile-apps .wrapper .content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.mobile-apps .wrapper .content span {
    font-size: 1.25rem;
    color: var(--white);
    width: 80%;
}

.mobile-apps .wrapper .content .learn-more {
    color: var(--white);
    text-decoration: none;
    font-size: 1.25rem;
}

.mobile-apps .wrapper .content .learn-more:hover {
    text-decoration: underline;
}



/*--------- CONTACT US ---------*/
.contact-us {
    width: 100%;
    height: fit-content;
    background-color: #2E4867;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.contact-us h1 {
    position: relative;
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--white);
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.contact-us h1::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 70%;
    margin: 0 auto;
    height: 3px;
    background-color: var(--orange);
}

.contacts-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 30%;
    text-align: center;
    color: var(--white);
}

.contact h2 {
    font-size: 2.125rem;
}

.contact p {
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.3rem;
}

.contact a {
    display: flex;
    align-items: center;
    gap: 2px;
    color: var(--white);
    text-decoration: none;
    font-size: 1.125rem;
}

.contact a:hover span:first-child {
    text-decoration: underline;
}


/*-------------- LEGAL DISCLOSURES --------------*/
.legal-disclosures {
    width: 100%;
    height: fit-content;
    background-color: var(--grey-light);
}

.legal-disclosures button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: transparent;
    border: 0;
    border-top: 2px solid var(--white);
    border-bottom: 2px solid var(--white);
    cursor: pointer;
}

.legal-disclosures button:hover {
    background-color: var(--grey-light);
}

.legal-disclosures button span {
    color: #fff;
    font-size: 1.5rem;
}

.legal-disclosures button .add {
    display: none;
}

.legal-disclosures .legal-content {
    background-color: var(--grey-light);
    color: var(--white);
    width: 80%;
    padding: 70px 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2.25rem;
    line-height: 23px;
}

.legal-disclosures .legal-content img {
    width: 60px;
}

.legal-disclosures .legal-content span,
.legal-disclosures .legal-content ol {
    font-weight: 300;
    line-height: 1.75rem;
}

.legal-disclosures .legal-content a {
    color: #fff;
    font-weight: 400;
}



/*---------- RESPONSIVENESS ----------*/
/* ================================== */
@media (width <=1240px) {
    header nav #logo img {
        width: 80px;
    }

    header nav ul li a {
        font-size: 0.75rem;
        font-weight: 400;
    }

    header nav ul li {
        padding-inline: 10px;
    }
}

@media (width <=1140px) {
    .financial-wellness div {
        padding: 20px;
    }

    .financial-wellness div {
        width: 70%;
    }

    .contacts-options {
        width: 100%;
    }
}

@media (width <=1024px) {
    .right-navigation {
        display: none;
    }

    .menu__icon {
        display: flex;
    }

    .menu-content .nav,
    .line {
        display: none;
    }

    .card-container {
        flex-wrap: wrap;
        gap: 70px;
        width: 70%;
    }

    .card {
        margin: 0 auto;
    }

    .mobile-apps .wrapper .content span {
        font-size: 1.125rem;
    }

    .financial-wellness div {
        width: 75%;
    }

    .contact img {
        width: 20%;
    }

    .contact h2 {
        font-size: 2rem;
    }

    .contact a {
        font-size: 1rem;
    }
}

@media (width <=892px) {
    .hero {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hero .wrapper {
        width: 85%;
        transform: translate(0%);
        padding: 85px 100px;
    }

    .service-list {
        width: 50%;
        gap: 15px;
    }

    .service {
        padding-top: 20px;
    }

    .financial-wellness div {
        width: 85%;
    }


    .mobile-apps .wrapper {
        width: 85%;
    }

    .contact img {
        width: 17%;
    }

    .contact h2 {
        font-size: 1.75rem;
    }

    .contact a {
        font-size: 1rem;
    }
}

@media (width <=768px) {
    .center-navigation {
        display: none;
    }

    .menu-content .nav,
    .line {
        display: flex;
    }

    .hero .wrapper {
        padding: 75px 50px;
    }

    .financial-wellness p {
        font-size: 1.5rem;
    }

    .financial-wellness div {
        width: 90%;
    }

    .card-container {
        width: 80%;
    }

    .contacts-options {
        flex-direction: column;
        gap: 70px;
        width: 100%;
    }

    .contact {
        width: 40%;
    }
}

@media (width <=618px) {
    .mobile-apps .wrapper {
        width: 60%;
        flex-direction: column;
    }

    .contact {
        width: 50%;
    }
}

@media (max-width <=478px) {
    .contact {
        width: 100%;
    }

    .mobile-apps .wrapper {
        width: 70%;
    }
}

@media (width <=453px) {
    .service-list {
        width: 55%;
        gap: 15px;
    }

    .service {
        padding-top: 20px;
    }

    .mobile-apps .wrapper {
        width: 80%;
    }
}

@media (width <=425px) {
    .service-list {
        flex-direction: column;
    }

    .products-and-services h1,
    .financial-wellness h1,
    .insight h1,
    .mobile-apps h1,
    .hero .wrapper h1 {
        font-size: 2rem;
    }

    .products-and-services h3,
    .insight p,
    .mobile-apps p {
        font-size: 1.25rem;
    }

    .contact p {
        font-weight: 100;
    }

    .hero .wrapper {
        padding: 30px;
    }

    .hero .wrapper p {
        font-size: .9rem;
    }

    .hero .wrapper .btn {
        font-size: .9rem;
    }

    .financial-wellness a {
        font-size: .9rem;
    }

    .card-container {
        width: 100%;
    }

    .mobile-apps .wrapper {
        width: 90%;
    }
}

@media (width <=375px) {
    .financial-wellness p {
        font-size: 1.25em;
    }

}

@media (width <=320px) {}